---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="construction" id="swup" class="transition-fade">
      <h1>🚧 Under Construction 🚧</h1>
      <h2>Check back later for cool stuff!</h2>
      <a class="underline" href="/">Go back /home</a>
    </div>
    <script src="../scripts/swup.js"></script>
  </body>
</html>

<style lang="scss">
  .construction {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    a {
      display: inline-block;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: 600;
      font-family: 'Hind', sans-serif;

    }
    h1, h2, a {
      margin: 0.5rem;
      text-align: center;
    }
    h1 {
      font-size: 3rem;
    }
  }
</style>

<!--
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<div id="swup" class="transition-fade">
			<header>
        <nav>
          <a href="/">
            <span class="card-arrow reverse">➤</span>
            Back
          </a>
        </nav>
      </header>
			<main>
				<h1>Thomas' Ramblings</h1>
				<section>
					<ul>
						{
							posts.map((post) => (
								<li>
									<time datetime={post.frontmatter.pubDate}>
										{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
									<a href={post.url}>{post.frontmatter.title}</a>
								</li>
							))
						}
					</ul>
				</section>
			</main>
		</div>
		<script src="../scripts/swup.js"></script>
	</body>
</html>

<style lang="scss">
	a {
    &:hover {
      .card-arrow.reverse {
        transform: rotate(180deg)translateY(3px)translateX(4px);
      }   
    }
  }
  .card-arrow.reverse {
    display: inline-block;
    transform: rotate(180deg)translateY(3px);
    transition: 0.25s all ease-out;
  }
</style>
-->